.content {
    display: flex;
    justify-content: center;
    text-align: center;
}
 
.content .links{
    display: flex;
    flex-direction: column;
}

.contact > #skills {
    text-align: left;
}

.home p {
    max-width: 600px;
    text-align: justify;
}

#skills {
    max-width: 600px;
    text-align: left;
}