

.content {
    display: flex;
    justify-content: center;
}
 

.content home {
    display: flex;
    flex-direction: column;
}

.content edu{
    display: flex;
    flex-direction: column;
}

.content expr{

}



.content procs{

}

.content contact{

}