

.content {
    display: flex;
    justify-content: center;
    text-align: center;
}
 
.content .links{
    display: flex;
    flex-direction: column;
}

.content .contact {
    text-align: center;
    
}